# Environnement virtuel
venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers temporaires
*.tmp
*.log

# Cache
.cache/